@font-face {
    font-family: "kepler";
    src: url("assets/KeplerStd-ItDisp.otf") format("opentype");
    font-weight: 100 200 300 400 500 600 700 800;
    font-style: normal;
    font-display: block;
}

:root{
    --fontSize: 0.9vmin;
}
body{
    overflow: hidden;
}
#cover-video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    object-fit: cover;
}
.logo{
    position: absolute;
    top: 12px;
    left: 12px;
    background-image: url(assets/kido_logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(var(--fontSize) * 25);
    aspect-ratio: 2 / 1;
}
.big-text{
    color: #D6C8B3;
    font-family: 'Bebas Neue', sans-serif;
    font-size: calc(var(--fontSize) * 25);
    font-weight: 400;
    line-height: calc(var(--fontSize) * 20);
    letter-spacing: -0.02em;
}
.top-right{
    position: absolute;
    top: 12px;
    right: 12px;
    text-align: right;
}
.center-left{
    position: absolute;
    top: calc(50% - 32px - calc(var(--fontSize) * 10));
    left: 12px;
    text-align: left;
}
.bottom-right{
    position: absolute;
    bottom: 80px;
    right: 12px;
    text-align: right;
}
.footer{
    position: absolute;
    bottom: 0;
    height: 80px;
    color: #ffffff;
    display: flex;
    width: 100%;
    align-items: center;
    font-family: 'kepler';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}
.footer a{
    color: #ffffff;
    text-decoration: none;
}
.footer div{
    width: 33.333%;
}
.contact-div{
    color: #BFBFBF;
}
.center-div{
    text-align: center;
}

@media screen and (max-width: 700px) {
    .footer div{
        width: 0;
    }
    .footer .contact-div{
        width: 100% !important;
        text-align: center;
    }
    .center-left{
        top: calc(var(--fontSize) * 45);
    }
    .bottom-right{
        top: calc(var(--fontSize) * 86);
        bottom: auto;
    }
}